.logo-docplanner {
    width: 268px;
    height: 33px;
    margin-top: 15px;

}
.icon-patients {
    width: 268px;
    height: 33px;
    margin-top: 15px;

}
.logo-doctors {
    width: 268px;
    height: 33px;
    margin-top: 15px;

}
.logo-clinics {
    width: 268px;
    height: 33px;
    margin-top: 15px;

}


a {
    color: #ababab;
    text-decoration: none;
    /* text-decoration: undeline; */
    cursor: pointer; 
    /* // sob3  */
}

a:hover {
    color: #00b39b;
    text-decoration: none;
    cursor: pointer; 

}
.img-center {
    display:block;
  margin:auto;
  margin-top: 15px;
}
.lead h1 {
    text-align: center;
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
    margin:auto;
    margin-top: 15px;
}
.lead p {
    margin: .8em 0;
    margin-top: 0.8em;
    margin-right: 0px;
    margin-bottom: 0.8em;
    margin-left: 0px;
    line-height: 1.75;
    font-weight: 400;
}
.patient {
    border: 1px solid black;
    height: 310px;
    border-radius: 11px;
    margin: 10px;
    background: green;

}
.doctor {
    border: 1px solid black;
    height: 310px;
    border-radius: 11px;
    margin: 10px;
    background: green;

}
.border-block {
    border: 1px solid black;
    height: 310px;
    border-radius: 11px;
    margin: 10px;
    background: green;

}
.col-sm-8  {
padding: 0px;
}

.col-sm-4 {
    padding: 0px;
    }
    .col-sm-6 {
        padding: 0px;
        }
/* h1 {
    font-size: 2.125rem;
    color: #00b39b;
    } */

    h2{
        font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    }